*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*NOTE do flex class for all flexs  */

html{
    height: 100%;
}

body{
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

input,button{
    font-family: "Poppins", sans-serif;
}

.flex{
    display: flex;
}

.weather-app{
    width: min(90%,450px);
    min-height: 407px;
    background-color: #333;
    border-radius: 22px;
    padding: 28px;
    font-weight: 200;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border: 3px solid rgba(255, 255, 255, 0.9);
}

.weather-app .input-container .flex{
    gap: 8px;
}

.weather-app .input-container .location-input{
    padding: 8px 16px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 22px;
}

.weather-app .input-container .location-warning{
    color: red;
    padding-left: 16px;
    visibility: hidden;
}

.weather-app .input-container .view-btn{
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #F2DD6E;
    border-radius: 22px;
    height: fit-content;
    transition: 200ms;
}

.weather-app .input-container .view-btn:hover{
    background-color: #d5874f;
}

.weather-app .weather-info-container{
    color: #fff;
    margin-top: 16px;
}

.weather-app .weather-info-container span{
    display: block;
}

.weather-info-container .location-container span{
    display: inline-block;
    text-align: center;
}

.weather-info-container .location-container .location-name{
    display: block;
}

.weather-info-container .temperature-celsius,
.weather-info-container .temperature-fahrenheit{
    font-size: 30px;
}

.weather-info-container .weather-info{
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

.weather-info-container .weather-info .weather-description{
    font-size: 30px;
    font-weight: 400;
}

.temperature-secondary .temperature-feel,
.temperature-secondary .wind-speed,
.temperature-secondary .humidity-level{
    font-size: 14px;
}

.weather-info-container .temperature-secondary{
    justify-content: space-between;
    align-items: center;
}

.temperature-secondary .current-time{
    font-size: 24px;
}